.meal-container {
  display: flex;
  gap: 50px; 
}

.meal-wrapper {
  background-color: white; 
  padding: 22px; 
  border-radius: 20px; 
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
  margin: 20px 0; 
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-wrapper {
  display: flex;
  flex-direction: column; 
  gap: 12px;
  width: 30%; 
  margin-top: 20px;
}

.input-daily-meal {
  padding: 20px;
  font-family: 'Lexend', sans-serif;
  margin-left: 320px;
}

.page-header {
  text-align: left;
  border-bottom: 2px solid #FF6000;
  margin-bottom: 20px;
  font-family: 'Lexend', sans-serif;
}

.page-header h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.page-header p {
  color: #777;
}

.meal-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Lexend', sans-serif;
}

.meal-category {
  display: flex;
  flex-direction: column;
}

.meal-category h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  color: black;
  font-weight: bold;
  font-family: 'Lexend', sans-serif;
}

.meal-card {
  display: flex;
  align-items: center;
  background-color: #FFEFE6;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 4, 4, 0.1);
  font-family: 'Lexend', sans-serif;
}

.meal-card p {
  margin-right: 220px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 15px;
  font-family: 'Lexend', sans-serif;
}

.add-icon {
  font-size: 24px;
  color: #FF6000;
  margin-right: 40px;
  margin-left: 25px;
}

.meal-image {
  width: 80px;
  height: 50px;
  border-radius: 10px;
}

.daily-calorie-card,
.motivational-card {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 4, 4, 0.1);
  text-align: center;
  width: 100%; 
  font-family: 'Lexend', sans-serif;
}

.daily-calorie-card {
  margin-bottom: 20px;
}


.no-data {
  font-size: 24px;
  font-weight: bold;
  color: #FF6000;
}

.calorie-label {
  font-size: 18px;
  margin: 10px 0;
  color: #FF6000;
}

.calorie-value {
  font-size: 24px;
  color: #FF6000;
  margin-bottom: 20px;
}

.calorie-summary {
  display: flex;
  justify-content: space-between;
}

.calorie-item p {
  font-size: 14px;
  color: #FF6000;
  margin-bottom: 5px;
}

.calorie-count {
  background-color: #FF6000;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 18px;
  width: 60px;
  justify-content: space-between;
  margin: 0 27px; 
}

.motivational-card {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 4, 4, 0.1);
  text-align: center;
  width: 100%; 
  font-family: 'Lexend', sans-serif;
  margin-top: 20px;
}

.motivational-text {
  font-size: 14px;
  margin-bottom: 15px;
  color: #FF6000;
}

.motivational-image {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
}